body {
  font-family: 'Arial';
  background-color: #FFFFFF;
  color: #3d3d3d;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#header {
  color: #454545;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  font-size: small;
}

.header {
  padding-right: 20px;
  padding-top: 10px;
}

.header a:hover,
a:visited {
  color: #454545;
}

#login {
  width: 80px;
  height: 30px;
  background-color: #4487FB;
  color: #FFFFFF;
  border-radius: 2px;
  border-color: #4487FB;
  margin-top: 2px;
  font-weight: bold;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.searchbar {
  display: flex;
  justify-content: center;
}

#searchbar {
  margin-top: 30px;
  width: 500px;
  height: 45px;
  border-style: solid;
  border-width: 1px;
  border-color: #E0E1E5;
  border-radius: 40px;
}

#search {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.search-buttons {
  background-color: #F7F7F7;
  color: #8E8D8E;
  font-size: medium;
  width: 170px;
  height: 40px;
  margin-right: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #F7F7F7;
  border-radius: 5px;
}

.search-buttons a:hover a:visited {
  color: #212121;
  box-shadow: #ECECEC;
}

#footer {
  background-color: #F2F2F2;
}

.sustainable {
  display: flex;
  justify-content: center; 
}